<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchList</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index" class="active">Home</a></li>
                <li><a href="watchlist">WatchList</a></li>
                <li><a href="submitmovie">Submit Movie</a></li>
            </ul>
        </nav>
        
    </header>

    <section class="hero">
        <div class="overlay"></div>
        <div class="content">
            <h1>Welcome to the WatchList application!</h1>
            <p>Made for movie lovers who have a hard time choosing their next movie to watch.</p>
            <button class="signup-btn">SIGN UP</button>
        </div>
        
    </section>

    <script src="/js/script.js"></script>
</body>
</html>
